{% extends "base.html" %}
{% block title %}프로필{% endblock %}

{% block content %}
<div class="container">
    <h3>프로필</h3>
    
    <form method="POST" enctype="multipart/form-data" class="post-form">
        {{ form.csrf_token }}
        
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.school_name.label }}
            {{ form.school_name(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.profile_image.label }}
            {{ form.profile_image(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
    
</div>
{% endblock %}
