<div class="col-mb-4">
    {% if user.profile_image %}
        <img src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}" alt="Profile Image" style="width: 150px; height: 150px; border-radius: 50%;">
    {% else %}
        <img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Default Profile Image" style="width: 150px; height: 150px; border-radius: 50%;">
    {% endif %}
    
    <ul>
        <li>이름: {{ user.username }}</li>
        <li>이메일: {{ user.email }}</li>
        <li>학교: {{ user.school_name }}</li>
    </ul>

    <a href="{{ url_for('profile.edit_profile') }}" class="btn btn-primary">프로필 수정</a>
</div>
