{% extends "base.html" %}
{% block title %}Search Results - 프로필{% endblock %}

{% block content %}
<div class="page-header">
    <h3>검색 결과</h3>
</div>

{% if users %}
    <div class="col-mb-4">
        {% for user in users %}
            <div class="user-profile">
                <img src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}" alt="Profile Image" style="width: 150px; height: 150px; border-radius: 50%;">
                <ul>
                    <li>이름: {{ user.username }}</li>
                    <li>이메일: {{ user.email }}</li>
                    <li>학교: {{ user.school_name }}</li>
                </ul>
                
                {% if g.user and g.user.id == user.id %}
                    <a href="{{ url_for('profile.edit_profile', user_id=user.id) }}" class="btn btn-primary">프로필 수정</a>
                {% else %}
                    <button class="btn btn-secondary" disabled>프로필 수정</button>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    </div>
{% else %}
    <p>검색 결과가 없습니다.</p>
{% endif %}

{% endblock %}
