{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>비밀번호 찾기</h3>

    <!-- flash 메세지 출력-->>
    {% with message = get_flashed_messages(with_categories=true) %}
        {% if message %}
            {% for category, message in messages %}
                <div class = "alert alert{{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith  %}


    <form method = "post">
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class = "form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class= "form-control" name="email" required>
        </div>
        <button type="submit" class="btn-primary"> 비밀번호 찾기</button>
    </form>
</div>

{% endblock %}