{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="POST" enctype="multipart/form-data" class="my-3">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        
        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.data or '' }}">
        </div>

        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>

        <div class="mb-3">
            <label for="file"></label> 
            <input type="file" class="form-control" name="file" id="file" multiple>
        </div>
    
        <div class="mb-3">
            <label for="is_secret">비밀글 설정</label>
            <input type="checkbox" id="is_secret" name="is_secret" onchange="togglePasswordField()">
        </div>
        
        <div class="mb-3" id="password_field" style="display: none;">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        
        <script>
            function togglePasswordField() {
                var checkbox = document.getElementById('is_secret');
                var passwordField = document.getElementById('password_field');
                passwordField.style.display = checkbox.checked ? 'block' : 'none';
            }
        </script>
        
        <button type="submit" class="btn btn-primary">저장하기</button>
        
    </form>
</div>
{% endblock %}
